/* Estilos globais */
body {
  font-family: Josefin Sans;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}


/*Formulario*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.mb-5 {
margin-bottom: 20px;
}
.pt-3 {
padding-top: 12px;
}
.principal-wrapper {
display: flex;
align-items: center;
justify-content: center;
padding: 48px;
}
.formulario-wrapper {
margin: 0 auto;
max-width: 550px;
width: 100%;
background: #ffffff;
}
.formulario-label {
display: block;
font-weight: 500;
font-size: 16px;
color: #73563C;
margin-bottom: 12px;
}
.formulario-label-2 {
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.formulario-input {
width: 100%;
padding: 12px 24px;
border-radius: 6px;
border: 1px solid #7E824F;
background: #CDDEB2;
font-weight: 500;
font-size: 16px;
color: #7E824F;
outline: none;
resize: none;
}
.formulario-inputb {
width: 100%;
padding: 12px 24px;
border-radius: 6px;
border: 1px solid #7E824F;
background: #CDDEB2
;
font-weight: 500;
font-size: 16px;
color: #7E824F;
outline: none;
resize: none;
}
.formulario-input:focus {
border-color: #7E824F;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.botao {
text-align: center;
font-size: 16px;
border-radius: 6px;
padding: 14px 32px;
border: none;
font-weight: 600;
background-color: #7E824F;
color: white;
width: 100%;
cursor: pointer;
}

.botao-cancel {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #7e7e7e;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.botao:hover {
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.mx-3 {
margin-left: -12px;
margin-right: -12px;
}
.px-3 {
padding-left: 12px;
padding-right: 12px;
}
.flex {
display: flex;
}
.flex-wrap {
flex-wrap: wrap;
}
.w-full {
width: 100%;
}
@media (min-width: 540px) {
.sm\:w-half {
  width: 50%;
}
}

/* Estilo do cartão de login */
.card {
background: #fff;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
background-color: #7E824F;
color: #fff;
border-bottom: none;
text-align: center;
padding: 20px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

.card-header h2 {
margin: 0;
}

.card-body {
padding: 20px;
}

.card-body p {
text-align: center;
margin-bottom: 20px;
}

/* Estilo do formulário */
.form-control {
width: 100%;
padding: 10px;
border: 1px solid #7E824F;
border-radius: 4px;
font-size: 1em;
margin-bottom: 10px;
color: #7E824F;
}

.form-control:focus {
border-color: #007bff;
outline: none;
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo do botão */
.btn {
width: 100%;
padding: 10px;
background: #7E824F;
border: none;
border-radius: 4px;
color: #fff;
font-size: 1em;
cursor: pointer;
transition: background 0.3s;
}

.btn:hover {
background: #6e7055;
}


/* Link de cadastro */
.card-body h6 {
text-align: center;
margin-top: 20px;
}

.card-body a {
color: #007bff;
text-decoration: none;
transition: color 0.3s;
}

.card-body a:hover {
color: #0056b3;
}


/*card*/
.cartoes {
width: 100%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.cartao {
width: 300px;
margin: 25px;
background-color: #fff;
border-radius: 6px;
overflow: hidden;
box-shadow: 0 10px 10px 0px grey;
transition: 0.3s;
display: flex;
flex-direction: column;
justify-content: space-between; 
}
.cartao-corpo {
padding: 15px;
font-family: sans-serif;
}
.card-nome,
.card-cpf,
.card-email,
.card-telefone,
.card-endereco p,
.card-historico p,
.card-historico ul {
margin: 10px 0;
}
.card-endereco p,
.card-historico p {
font-weight: bold;
}
.card-historico ul {
list-style: none;
padding: 0;
}
.card-botoes {
display: flex; 
}
.card-botoes a {
flex: 1; 
color: #fff;
text-align: center;
padding: 16px;
text-decoration: none;
font-family: sans-serif;
font-weight: 600;
transition: background-color 0.3s;
}
.botao-alterar {
background-color: #7E824F; 
}
.botao-excluir {
background-color:#FA7070; 
}
.card-botoes a:hover {
opacity: 0.8; 
}
.cartao:hover {
transform: scale3d(1.1, 1.1, 1);
}




/* Barra de navegação */
.navbar {
  background-color: #7E824F;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.navbar img {
  max-height: 50px;
  height: auto;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
justify-content: space-between;
}

.navbar ul li {
  display: inline;
  margin-right: 100px
}

.navbar ul li a {
  color: white; 
  text-decoration: none;
  font-size: 23px; 
  color: #FBFDD6;
}

.navbar ul li a:hover {
  color: #6e7055;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7E824F;
  min-width: 160px;
  z-index: 1;

}
.dropdown-content img{
  max-width: 16px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.droptext{
  text-align: center;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Conteúdo principal */
.container {
  padding: 20px;
  border-radius: 20%;
}

.containers {
  padding: 20px;
  border-radius: 20%;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

/* Formulários */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #7E824F;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: #7E824F;
  color: white;
  border: none;
  padding: 20px 55px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 81.7%;
}

.btn-danger {
  background-color: #b00606;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

/* Listagem de clientes */
.clients-list {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.client-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.client-card h3 {
  margin-top: 0;
  color: #7c6e4f;
}

.client-card p {
  margin: 5px 0;
}

.client-card button {
  background-color: #7c6e4f;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

/* Tabelas */
table {
  width: 87%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 70px;
}

table, th, td {
  background-color: #FAFDD6;
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  text-align: center;
}

th {
  background-color: #E4E9BE;
  font-weight: 700;
  font-size: 22px;
  color: #73563C;
  text-align: center;
}

td {
  height: 80px;
  color: #73563C;
  font-size: 20px;
}

table {
  width: 87%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 70px;
}

table, th, td {
  background-color: #FAFDD6;
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  text-align: center;
}

th {
  background-color: #E4E9BE;
  font-weight: 700;
  font-size: 22px;
  color: #73563C;
  text-align: center;
}

td {
  height: 80px;
  color: #73563C;
  font-size: 20px;
}

#equipe {
  color: #73563C;
  margin-bottom: 0;
  font-size: 35px;
  margin-left: 4%;
  margin-top: 4%;
}

/* Botões de edição/remoção */
.btn-edit {
  background-color: #ffeb3b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.btn-remove {
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
}

/* Interruptor de status */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #7c6e4f;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.available-text {
  margin-top: 30%;
  margin-left: 4.3%;
  color: #7c6e4f;
}

#roomsTable {
  margin-top: 2%;
}

#quartos {
  color: #73563C;
  font-size: 30px;
  font-size: 35px;
  margin-bottom: 0;
  margin-left: 4%;
  margin-top: 4%;
}

.available-status {
  font-weight: bold;
  margin-top: 5%;
}

#modal-equipe {
  border: none;
  border-radius: 20px;
  transform: translateX(110vw);
  transition: all 1s ease-in-out;
  margin-top: 150px;
}
#modal-equipe.translate {
    transform: translateX(37vw);
}

#modal-equipe::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#modal-quartos {
  border: none;
  border-radius: 20px;
  transform: translateX(110vw);
  transition: all 0.9s ease-in-out;
  margin-top: 150px;
  height: 70%;
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#modal-quartos.translate2 {
    transform: translateX(40vw);
}
#form-quartos{
  width: 90%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#nome1 {
  width: 80%;
  height: 7%;
  border: 1.5px solid #73563C;
  background-color: #CDDEB2;
  border-radius: 2px;
}
#nome1::placeholder {
  padding-left: 3%;
}

#tipo1 {
  width: 80%;
  height: 7%;
  border: 1.5px solid #73563C;
  background-color: #CDDEB2;
  border-radius: 2px;
}

#tipo1::placeholder {
  padding-left: 3%;
}

#camas1 {
  width: 80%;
  height: 7%;
  border: 1.5px solid #73563C;
  background-color: #CDDEB2;
  border-radius: 2px;
}

#camas1::placeholder {
  padding-left: 3%;
}

#categoria1 {
  width: 80%;
  height: 7%;
  border: 1.5px solid #73563C;
  background-color: #CDDEB2;
  border-radius: 2px;
}

#categoria::placeholder {
  padding-left: 3%;
}

#botao-criar {
  width: 80%;
  height: 8%;
  background-color: #7E824F;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}
#botao-cancelar {
  margin-top: 5%;
  width: 80%;
  height: 8%;
  background-color: #7e7e7e;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

#label1 {
  width: 80%;
  color: #73563C;
  font-size: 20px;
}


#modal-quartos::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}