<div class="navbar">
    <img src="imagens/logo.valedorefugio.png" alt="Vale do Refúgio Hotel">
    <ul>
        <li><a href="/"><i class="fas fa-users"></i> Clientes</a></li>
        <li><a href="/equipe"><i class="fas fa-users-cog"></i> Equipe</a></li>
        <li><a href="/quartos"><i class="fas fa-bed"></i> Quartos</a></li>
        <li><a href="/relatorios"><i class="fas fa-chart-bar"></i> Relatórios</a></li>
        <li href="#" class="dropdown">
            <i class="fas fa-solid fa-language"></i>
            <a href="#" class="dropbtn">Linguagem</a>
            <div class="dropdown-content">
                <a href="#" onclick="changeLanguage('pt')" class="droptext"><img src="./imagens/pt-br.png" alt="Português">Português</a>
                <a href="#" onclick="changeLanguage('en')"><img src="./imagens/en.png" alt="English">English</a>
            </div>
        </li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</div>